In [ ]:
# Joining nutrients data to the main dataset with primary key as Recipe_id
#vishnu S Mohan

In [16]:
import pandas as pd
import numpy as np

In [17]:
datasource = pd.read_excel('C:/Users/chand/IndianFoodDataset.xlsx')

In [60]:
datasource.columns

Index(['Recipie_ID', 'Recipe_Name', 'Ingredients', 'Prep_Time_In_Mins',
       'Cook_Time_In_Mins', 'Total_Time_In_Mins', 'Servings', 'Cuisine',
       'Course', 'Diet', 'Instructions', 'URL', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [62]:
datasource = datasource.drop(['Unnamed: 12','Unnamed: 13'],axis=1)

In [63]:
datasource.columns

Index(['Recipie_ID', 'Recipe_Name', 'Ingredients', 'Prep_Time_In_Mins',
       'Cook_Time_In_Mins', 'Total_Time_In_Mins', 'Servings', 'Cuisine',
       'Course', 'Diet', 'Instructions', 'URL'],
      dtype='object')

In [72]:
nutrientdata = pd.read_csv('calorie_file_database.csv')

In [73]:
nutrientdata.head(10)

,Unnamed: 0,Recipie_ID,Calorie,Carbs,Fat,Protein,Sodium,Potassium,Cholestrol,VitaminA,VitaminC,Calcium,Iron,Unnamed: 13,Unnamed: 14
0,0,R1,184,8,17,1,1399,196,0,0,27,3,2,NaN,NaN
1,1,R2,90,12,3,2,490,0,0,8,2,4,0,NaN,NaN
2,2,R3,188,35,3,6,300,0,20,0,3,1,7,NaN,NaN
3,3,R4,53,5,3,1,0,0,0,0,0,0,0,NaN,NaN
4,4,R5,14,0,1,0,25,11,0,0,0,2,1,NaN,NaN
5,5,R6,485,68,17,12,1700,0,0,0,0,15,2,NaN,NaN
6,6,R7,17,3,0,0,146,0,0,0,29,3,3,NaN,NaN
7,7,R8,307,34,15,15,654,0,27,0,0,0,0,NaN,NaN
8,8,R9,170,24,6,4,720,0,0,0,2,4,15,NaN,NaN
9,9,R10,30,7,0,0,75,0,0,0,0,0,0,NaN,NaN

In [74]:
nutrientdata.columns

Index(['Unnamed: 0', 'Recipie_ID', 'Calorie', 'Carbs', 'Fat', 'Protein',
       'Sodium', 'Potassium', 'Cholestrol', 'VitaminA', 'VitaminC', 'Calcium',
       'Iron', 'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')

In [75]:
nutrientdata = nutrientdata.drop(['Unnamed: 0','Unnamed: 13','Unnamed: 14'],axis=1)

In [76]:
Finaldata = pd.merge(left=datasource, right=nutrientdata, left_on='Recipie_ID', right_on='Recipie_ID')

In [77]:
Finaldata.head(5)

,Recipie_ID,Recipe_Name,Ingredients,Prep_Time_In_Mins,Cook_Time_In_Mins,Total_Time_In_Mins,Servings,Cuisine,Course,Diet,...,Carbs,Fat,Protein,Sodium,Potassium,Cholestrol,VitaminA,VitaminC,Calcium,Iron
0,R1,Masala Karela Recipe,"6 Karela (Bitter Gourd/ Pavakkai) - deseeded,S...",15,30,45,6,Indian,Side Dish,Diabetic Friendly,...,8,17,1,1399,196,0,0,27,3,2
1,R2,Spicy Tomato Rice (Recipe),"2-1 / 2 cups rice - cooked, 3 tomatoes, 3 teas...",5,10,15,3,South Indian Recipes,Main Course,Vegetarian,...,12,3,2,490,0,0,8,2,4,0
2,R3,Ragi Semiya Upma Recipe - Ragi Millet Vermicel...,"1-1/2 cups Rice Vermicelli Noodles (Thin),1 On...",20,30,50,4,South Indian Recipes,South Indian Breakfast,High Protein Vegetarian,...,35,3,6,300,0,20,0,3,1,7
3,R4,Gongura Chicken Curry Recipe - Andhra Style Go...,"500 grams Chicken,2 Onion - chopped,1 Tomato -...",15,30,45,4,Andhra,Lunch,Non Vegeterian,...,5,3,1,0,0,0,0,0,0,0
4,R5,Andhra Style Alam Pachadi Recipe - Adrak Chutn...,"1 tablespoon chana dal, 1 tablespoon white ura...",10,20,30,4,Andhra,South Indian Breakfast,Vegetarian,...,0,1,0,25,11,0,0,0,2,1

In [78]:
Finaldata.to_csv('Finaldata.csv',encoding='utf-8',na_rep='Unknown')